body{
    font-family: 'Lato', sans-serif;
    overflow-y: scroll;
    padding:0;
    margin:0;
    max-width: 100%;
    overflow-x: hidden;
}

#particles-js{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100vh;
    background-color:#0E86D4;
    background-size: cover;
}

.body-particles{
    position: relative;
    z-index: 100;
}

.subTitleIcon{
    position: relative;
    transform: translateY(-5px);}

html {
    padding:0;
    margin:0;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.section-big-header{
    color: #ffff;
    padding: 2px;
    margin: 2px;
}

.section-line-seperator{
    margin: 5px;
    text-align: center;
}

.section-padding{
    padding: 25px 0;
}

.section-header{
    padding-bottom: 20px;
}

.section-header h3{
    font-weight: bold;
    color: #36454F;
}

.section-header h3 a{
    font-weight: bold;
    color: #36454F;
}

h3 a{
    font-weight: bold;
    color: #36454F;
}

h3 a:hover{
    text-decoration: none;
}

a {
    text-decoration: none !important;
}

.navbar-brand{
    color: #ffff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-area {
    background: #262626;
}

.navbar-nav .nav-link{
    padding-right:  0;
    padding-left: 0;
    color: #ffff !important;
    font-weight: bold;
}


.subTitleContactInfo-seperatorFront{
    color: #ffff !important;
    font-weight: bold;
    font-size: 30px;
}

.centerContacts {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.contactSection {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.centerContacts > * {
    flex: 1 0 auto;
    /* optional: determine the minimum width of the cell before it breaks into the next line */
    min-width: 5%;
  }

.subTitleContactInfo{
    color: #ffff !important;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
}

.nav-item{
    color: #ffff;
    padding: 0 10px;
    text-transform: uppercase;
}

.slider-area{
    height: 100vh;
    color: #ffff;
    position: center;
}

slider-area:before{
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient(360deg, #0E86D4, transparent);
}

.slider-text h1{
    font-size: 45px;
    font-weight: bold;
}

.projBtnsContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
}

.projBtns {
    padding: 5%;
    width: 40%;
    height: auto;
    display: flex !important;
    flex-direction: column;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.projBtns p {
    padding: 0 0;
    margin: 0 0;
}

.slider-text a{
    padding: 10px 15px;
    color: #ffff;
    display: inline-block;
    margin-top: 25px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

.slider-text{
    text-align: center;
    padding-top:20%;
}

.contacts-area {
    border-bottom: 2px solid white;
    padding: 1.25%;
    background: rgb(0,168,255);
    background: linear-gradient(0deg, rgba(0,168,255,0.3785889355742297) 0%, rgba(112,207,249,0.27494747899159666) 23%, rgba(255,255,255,0) 84%);
}

.contacts-area-footer {
    border-top: 2px solid white;
    padding: 1.25%;
    background: rgb(0,168,255);
    background: linear-gradient(180deg, rgba(0,168,255,0.3785889355742297) 0%, rgba(112,207,249,0.27494747899159666) 23%, rgba(255,255,255,0) 84%);
}

.single-statsContact {
    margin-top: 5%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    gap: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.about-img img{
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.projectsArray{
    align-content: center;
    overflow: hidden;
    background: white;
}

.about-area{
    position: relative;
    background: rgb(255,255,255);
}

.about-area p{
    font-size: 15px;
}

#projects {
    position: relative;
    opacity: 1;
}


.companyLogo {
    width: 128px !important;
    height: 128px  !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border: 3px solid black;
}

.recomendationLogo {
    width: 85px !important;
    height: 85px  !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.projectsWrapper{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    opacity: 0.1;
    background-image: url("./media/seamless.jpg");
}

.aboutWriting {
    position: relative;
    background: white;
    opacity: 1;
    padding-top: 2vh;
    padding-bottom: 2vh;
    overflow:hidden;
}

.company-logo-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
    color: #262626;
}

.company-logo-list a {
    color: #262626;
}

.projectValues {
    position: relative;
    background: white;
    opacity: 1;
    border-left: 2px solid #36454F;
    border-right: 2px solid #36454F;
}

.about-img{
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    padding-right: 15px;
    background-image: url('./media/mathInfo.png');
    width: 100%;
    height: 100%;
    position: relative;
}

.company-img{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-image: url('./media/mathInfo.png');
    width: 100%;
    height: 100%;
    position: relative;
    padding: 12px;
}

.recomendation-img {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-image: url('./media/mathInfo.png');
    width: 100%;
    height: 100%;
    position: relative;
    padding: 12px;
}

.text-company, .text-recomendation{
    background-color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.text-company p {
    margin: 8px;
}

.text-recomendation p {
    text-align: center;
}

.item-text h4{
    margin-bottom: 20px;
    margin-left: 9px;
}

.item-text p{
    margin-left: 10px;
    margin-right: 10px;
}

.item-text-recomendation p{
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.item-text-recomendation h4{
    font-weight: bold;
    color: #36454F;
}

/*stats section*/

.stats-area{
    position: relative;
    z-index: 1;
}

.stats-area:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg,#0E86D4, transparent);
    z-index: -1;
}

.single-stats{
    color: #ffff;
    text-align: center;
}

.single-stats i{
    margin-bottom: 20px;
}

.single-stats h2{
    font-weight: bold;
    font-size: 30px;
}

.single-stats p{
    font-family: 'Lato', sans-serif;
}

/*portfolio section*/
.portfolio-area{
    text-align: center;
    background-color: #ffff;
}

.single-doBlock{
    border: 1px solid #ddd;
    width: 100%;
    height: auto;
}

.single-doBlock h2{
    margin: 15px 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

.spacer{
    padding: 150px;
}


.spacer-small{
    padding: 50px;
}

/*contact section*/
.contact-area{
    text-align: center;
    color: #ffffff;
    background: #262626;
}

.myContacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width:700px){
    .title-text h2{
        position: relative;
        width: 100%;
        height: 75%;
        text-align: center;
    }

    .single-statsContact {
        flex-direction: row;
        gap: 5%;    
    }

    .item-text{
        margin-top: 5%;
    }

    .contacts-area {
        
        border-left: 2px solid white;
        border-bottom: none;
        padding: 1.25%;
        background: rgb(0,168,255);
        background: linear-gradient(90deg, rgba(0,168,255,0.3785889355742297) 0%, rgba(112,207,249,0.27494747899159666) 23%, rgba(255,255,255,0) 84%);
    }

    .projImgContainer {
        left: 4.5%;
        padding-top: 5%;
    }

}

@media (min-width:750px){
    .title-text h2{
        position: relative;
        width: 100%;
        height: 75%;
        text-align: center;
    }

   

}

.list-block:hover{
    background: #262626;
    color: #ffff;
    transition: .3s
}




.title-text{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 5vh;
    width: 100%;
    background: white;
}

.iconProj {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.iconProj button {
    padding: 10px;
    width: 100%;
}

.project-img {
    height: auto;
    width: 60%;
}

.project-imgFrantic {
    padding: 15px;
    height: auto;
    width: 75%;
}

.projImgContainer{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.row-Seperator-Proj {
    border-bottom: 2px solid #C0C0C0;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}